---
import Layout from "../layouts/Layout.astro";
import TovarList from "../components/TovarList.astro";
import UslugiList from "../components/UslugiList.astro";
import AboutUsBigBlock from "../components/AboutUsBigBlock.astro";
import AboutUsSmallBlock from "../components/AboutUsSmallBlock.astro";
import { getTovars, getUslugi, getOtzivi } from "../sanityclient";
import Slider from "../components/Slider.astro";

const tovars = await getTovars();
const uslugi = await getUslugi();
const otzivi = await getOtzivi();
---

<Layout title="Auto Keys Shop - Главная">
  <main>
    <h1 class="maintitle">Auto Keys Shop</h1>
    <span class="startSpan"
      >Экспертный сервис по изготовлению автомобильных ключей, ремонту замков
      зажигания и чип-тюнингу авто.</span
    >

    <div class="mainimage-block">
      <img src="/mainimage.png" class="mainimage" alt="Баннер" />
      <div class="info-block">
        <div class="info">
          <h3>Почему выбирают нас?</h3>
          <p>
            Мы гордимся нашей командой опытных специалистов, которые знают все
            тонкости работы с автомобилями.
          </p>
          <div class="phone-block">
            <img src="/phone.svg" alt="Phone Icon" class="phone-icon" />
            <span class="phone-number">+7 (915) 375-11-09</span>
          </div>
        </div>
        <img
          src="/mercedes-benz-logo.svg"
          alt="Mercedes Logo"
          class="info-img"
        />
        <img src="/bmw-logo.svg" alt="BMW Logo" class="info-img" />
      </div>
    </div>

    <div class="aboutus" id="aboutus">
      <div class="aboutus-block">
        <h5>Приветствуем Вас</h5>
        <p>
          Наша команда профессионалов занимаемся чип тюнингом и изготовлением
          авто ключей с 2013 года. Используем профессиональное оборудование в
          своей работе. Сроки выполнения быстрее чем у дилера
        </p>
      </div>
      <div class="aboutus-info-blocks">
        <AboutUsBigBlock
          image_src="aboutus1.png"
          title="Наша цель"
          body="Наша основная цель — обеспечить ваших автомобилистов надежным и качественным обслуживанием в любом экстренном или плановом случае."
        />
        <AboutUsSmallBlock
          image_src="aboutus2.png"
          title="Гарантия"
          body="Мы предоставляем гарантии на все наши услуги, чтобы вы могли быть уверены в их качестве и надежности."
        />
        <AboutUsSmallBlock
          image_src="aboutus3.png"
          title="Доступность"
          body="Наша компания предлагает услуги в удобное для вас время, включая вечерние и выходные часы."
        />
      </div>
    </div>

    <div class="callback" id="callback">
      <Slider slides={otzivi} />
    </div>

    <div class="uslugi" id="uslugi">
      <h2>Профессиональные услуги</h2>
      <div class="uslugi-block">
        <UslugiList uslugi={uslugi} />
      </div>
    </div>

    <div class="tovari" id="products">
      <h2>Авто товары и ключи</h2>
      <div class="uslugi-block">
        <TovarList tovars={tovars} />
      </div>
    </div>
  </main>

  <div class="callbackform" id="contacts">
    <h5>Свяжитесь с нами</h5>
    <h4>Мы делаем свою работу на высшем уровне</h4>
    <form id="dataForm" method="post">
      <label>
        <span>ФИО</span>
        <input type="text" name="fio" placeholder="ФИО" />
      </label>
      <label>
        <span>Номер телефона</span>
        <input type="text" name="number" placeholder="Номер телефона" />
      </label>
      <label>
        <span>Комментарий</span>
        <textarea name="comment" id="comment" placeholder="Комментарий"
        ></textarea>
      </label>
      <button type="submit">Связаться с нами</button>
    </form>
  </div>
</Layout>

<script type="module">
  // Функция для отправки данных формы в Telegram
  document
    .getElementById("dataForm")
    .addEventListener("submit", async function (e) {
      e.preventDefault();

      // Получение данных формы
      const formData = new FormData(e.target);
      const fio = formData.get("fio");
      const number = formData.get("number");
      const comment = formData.get("comment");

      // Сообщение для отправки в Telegram
      const message = `
    Новая заявка с сайта:
    ФИО: ${fio}
    Номер телефона: ${number}
    Комментарий: ${comment}
  `;

      // Замените 'YOUR_BOT_TOKEN' на ваш API токен и 'YOUR_CHAT_ID' на ваш Chat ID
      const botToken = "6583247383:AAFYgvUj0VawkJnKiod-ctskeSk9FthDmsE";
      const chatId = "-1002217904188";
      const url = `https://api.telegram.org/bot${botToken}/sendMessage`;

      try {
        // Отправка запроса
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            chat_id: chatId,
            text: message,
            parse_mode: "HTML",
          }),
        });

        if (response.ok) {
          alert("Ваше сообщение успешно отправлено!");
          e.target.reset(); // Очистка формы
        } else {
          alert("Произошла ошибка при отправке сообщения. Попробуйте снова.");
          console.error("Response not OK:", response);
        }
      } catch (error) {
        console.error("Ошибка:", error);
        alert("Произошла ошибка при отправке сообщения. Попробуйте снова.");
      }
    });
</script>

<style>
  body {
    font-family: "Geologica", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    margin: auto;
    padding: 2rem;
    max-width: 1200px;
    width: 100%;
    color: #000;
    font-size: 18px;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-weight: 600;
  }

  h1 {
    font-size: 42px;
    text-align: start;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 32px;
    margin: 30px 0;
  }

  h5 {
    font-size: 32px;
  }

  .maintitle {
    font-size: 52px;
    transition: font-size 0.3s ease;
  }

  .maintitle:hover {
    font-size: 56px;
  }

  .startSpan {
    font-size: 22px;
    color: #6777a7;
  }

  .phone-block {
      display: flex;
      align-items: center;
      margin-top: 20px;
  }

  .phone-icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
  }

  .phone-number {
      font-size: 24px;
      color: #fff;
      font-weight: 500;
  }

  .mainimage-block {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
  }

  .mainimage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .mainimage:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }

  .info-block {
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateY(-75%);
  }

  .info {
    background-color: #377dff;
    border-radius: 10px;
    padding: 30px;
    color: #fff;
    max-width: 400px;
    transition: transform 0.3s ease;
  }

  .info:hover {
    transform: translateY(-10px);
  }

  .info h3 {
    font-size: 28px;
    color: #97bcff;
  }

  .info p {
    font-size: 24px;
  }

  .callbackform {
    background-color: #387eff;
    padding: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }

  .callbackform h5 {
    font-size: 36px;
    color: #c3d8ff;
    text-align: center;
  }

  .callbackform h4 {
    font-size: 28px;
    color: #fff;
    text-align: center;
  }

  .callbackform form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 500px;
    margin: auto;
  }

  .callbackform label {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .callbackform input,
  .callbackform textarea {
    padding: 15px;
    border: 1px solid #b9b7b7;
    border-radius: 10px;
    font-size: 18px;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;
  }

  .callbackform input:focus,
  .callbackform textarea:focus {
    border-color: #377dff;
    box-shadow: 0 0 5px rgba(55, 125, 255, 0.5);
    outline: none;
  }

  .callbackform textarea {
    height: 100px;
  }

  .callbackform button {
    padding: 15px;
    background-color: #377dff;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    border: none;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.3s ease;
  }

  .callbackform button:hover {
    background-color: #295ecb;
    transform: translateY(-3px);
  }

  .aboutus {
    margin-top: 50px;
  }

  .aboutus-info-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .uslugi,
  .tovari {
    margin-top: 100px;
  }

  .uslugi-block,
  .tovari-block {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media (max-width: 768px) {
    .info-block {
      flex-direction: column;
      align-items: center;
      transform: translateY(-10%);
    }

    .callbackform h5 {
      font-size: 28px;
    }

    .callbackform h4 {
      font-size: 22px;
    }

    .callbackform form {
      padding: 20px;
    }

    .callbackform input,
    .callbackform textarea {
      font-size: 16px;
    }

    .callbackform button {
      font-size: 18px;
    }

    .maintitle {
      font-size: 36px;
    }

    .startSpan {
      font-size: 18px;
    }

    .mainimage-block {
      margin-top: 30px;
    }
  }
</style>
