---
import Usluga from "./Usluga.astro";

const { uslugi } = Astro.props;

let uslugaElements = [];

if (Object.keys(uslugi).length > 0) {
  for (let i = 0; i < Object.keys(uslugi).length; i++) {
    const usluga = uslugi[i];
    uslugaElements.push({
      image_src: usluga.image1,
      price: usluga.price,
      title: usluga.small_title,
      question: usluga.question,
      body: usluga.paragraph1,
      href: `/usluga/${usluga._id}`,
    });
  }
} else {
  uslugaElements.push("<p>Нет доступных товаров.</p>");
}
---

{
  uslugaElements.map((elem) => {
    return (
      <Usluga
        image_src={elem.image_src.asset.url}
        title={elem.title}
        price={elem.price}
        question={elem.question}
        body={elem.body}
        href={elem.href}
      />
    );
  })
}
