---
import Layout from '../../layouts/Layout.astro';
import {getTovars, getItem, urlFor } from '../../sanityclient'

export async function getStaticPaths() {
  const tovars = await getTovars(); // Получаем все товары

  return tovars.map((post) => ({
    params: { id: post._id.toString() }, // Генерация пути на основе ID товара
  }));
}


const id = Astro.url.pathname.split("/").at(-1)

const tovar = await getItem(id);

console.log(tovar)
---


<Layout title="Auto Keys Shop - Согласие на обработку персональных данных">
	<main>
		<span class="tovar">
			Товар
		</span>
		<h3 class=full_name>
			{tovar.full_title}
		</h3>

		<div class="block">
			<div class="info">
				<h4>{tovar.short_title}</h4>
				<p>{tovar.first_description}</p>
			</div>
			<img src={urlFor(tovar.image1).url()}>
		</div>

		<div class="block">
			<img src={urlFor(tovar.image2).url()}>
			<disv class="info">
				<span class=price_with_work>{tovar.price_with_work}</span>
				<p>{tovar.work_description}</p>
			</div>
		</div>
	</main>
</Layout>

<style>
	main{
		max-width: 1000px;
		width: 100%;
		margin: auto;
	}
    .block{
		width: 100%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 40px;
		margin: 70px 0;
	}
	.block img {
		max-width: 40%;
		width: 100%;
		min-width: 400px;
	}
	.info{
		display: flex;
		flex-direction: column;
		width: 50%;
	}
	.price_with_work{
		font-weight: 400;
		font-size: 20px;
		color: #fff;
		border-radius: 12px;
		background: #377dff;
		padding: 10px 15px;
		margin: 30px 0 60px 0;
	}
</style>