---
import Layout from '../../layouts/Layout.astro';
import { getTovars, getItem } from '../../sanityclient';

export async function getStaticPaths() {
  const tovars = await getTovars();
  
  return tovars.map((post) => ({
    params: { id: post._id.toString() },
  }));
}

const id = Astro.url.pathname.split("/").at(-1);
const tovar = await getItem(id);
---
  <Layout title={`Auto Keys Shop - ${tovar.short_title}`}>
    <main>
      <h1 class="maintitle">{tovar.full_title}</h1>
      <span class="startSpan">
        {tovar.first_description}
      </span>
      <div class="mainimage-block">
        <img src={tovar.image1.asset.url} class="mainimage" alt="Main Image" />
        <div class="info-block">
          <div class="info">
            <h3>Почему выбирают нас?</h3>
            <p>Мы гордимся нашей командой опытных специалистов, которые знают все тонкости работы с автомобилями.</p>
          </div>
        </div>
      </div>
      <article>
        <h3>{tovar.full_title}</h3>
        <p>{tovar.price_with_work}</p>
        <div class="paragraph_with_photo">
          <p>{tovar.work_description}</p>
          <img src={tovar.image2.asset.url} alt="Additional Image" />
        </div>
        <p>{tovar.short_title}</p>
        <a href={tovar.AvitoURL} class="buy-button" target="_blank">Купить</a>
      </article>
    </main>
  </Layout>
<style>
  main {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 20px;
  }
  article {
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: #ebf2ff;
    padding: 20px;
  }
  .paragraph_with_photo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  .paragraph_with_photo img {
    width: 50%;
    border-radius: 10px;
  }
  .paragraph_with_photo p {
    font-weight: 600;
    width: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .buy-button {
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    background: #377dff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  .buy-button:hover {
    background-color: #0056b3;
  }
  .mainimage {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
  }
  .mainimage-block {
    display: flex;
    flex-direction: column;
  }
  .info-block {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    transform: translateY(-50%);
  }
  .info {
    border-radius: 10px;
    max-width: 400px;
    min-height: 216px;
    width: 100%;
    height: fit-content;
    background: #377dff;
    padding: 20px;
  }
  .info h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 28px;
    color: #97bcff;
  }
  .info p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #fff;
  }
  .maintitle {
    max-width: 600px;
    width: 100%;
    font-weight: 600;
    font-size: 52px;
    color: #000;
    text-align: start;
    margin: 0;
    margin-bottom: 20px;
  }
  .startSpan {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    color: #6777a7;
  }
  @media (max-width: 768px) {
    .paragraph_with_photo {
      flex-direction: column;
    }
    .paragraph_with_photo img {
      width: 100%;
      margin-bottom: 20px;
    }
    .info {
      width: 100%;
    }
  }
</style>
