---
import Layout from "../../layouts/Layout.astro";
import { getUslugi, getItem } from "../../sanityclient";

export async function getStaticPaths() {
  const uslugi = await getUslugi();

  return uslugi.map((post) => ({
    params: { id: post._id.toString() },
  }));
}

const id = Astro.url.pathname.split("/").at(-1);
const usluga = await getItem(id);
console.log(usluga.image1);
---

<Layout title="Auto Keys Shop - Услуга">
  <main>
    <section class="hero">
      <h1 class="maintitle">Экспертный сервис для вашего авто</h1>
      <p class="startSpan">
        Изготовление ключей, прошивка евро2 STAGE-1 и ремонт замков <br /> по лучшим
        ценам!
      </p>
    </section>

    <section class="mainimage-block">
      <img src={usluga.image1.asset.url} class="mainimage" alt="Main Image" />
      <div class="info-block">
        <div class="info">
          <h3>Почему выбирают нас?</h3>
          <p>
            Мы гордимся нашей командой опытных специалистов, которые знают все
            тонкости работы с автомобилями.
          </p>
        </div>
      </div>
    </section>

    <article>
      <h3>{usluga.full_title}</h3>
      <p>{usluga.paragraph1}</p>
      <div class="paragraph_with_photo">
        <p>{usluga.paragraph2}</p>
        <img src={usluga.image2.asset.url} alt="Additional Image" />
      </div>
      <p>{usluga.paragraph3}</p>
    </article>
  </main>
</Layout>
<style>
  body {
    font-family: "Geologica", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
  }

  main {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 2rem;
  }

  .hero {
    text-align: center;
    margin-bottom: 2rem;
  }

  .maintitle {
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
  }

  .startSpan {
    font-size: 1.5rem;
    color: #6777a7;
    line-height: 1.5;
  }

  .mainimage-block {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }

  .mainimage {
    width: 100%;
    border-radius: 10px;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
  }

  .mainimage:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }

  .info-block {
    display: flex;
    justify-content: center;
    margin-top: -2rem;
  }

  .info {
    background-color: #377dff;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .info h3 {
    font-size: 1.75rem;
    color: #97bcff;
  }

  .info p {
    font-size: 1.25rem;
  }

  article {
    background: #ebf2ff;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2rem;
    margin-top: 2rem;
  }

  .paragraph_with_photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  .paragraph_with_photo img {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
  }

  .paragraph_with_photo p {
    flex: 1;
    font-size: 1.25rem;
  }

  @media (max-width: 768px) {
    .maintitle {
      font-size: 2.5rem;
    }

    .startSpan {
      font-size: 1.25rem;
    }

    .info-block {
      flex-direction: column;
      align-items: center;
    }

    .paragraph_with_photo {
      flex-direction: column;
      text-align: center;
    }

    .paragraph_with_photo img {
      max-width: 100%;
    }
  }
</style>
